*{
    background: #4b0404;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

header{
    width: 90%;
    height: 4rem;
    margin: 1rem;
    background: #fbd24e;
}

